:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}
